@model TestAPI.Models.Customer

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ValidationSummary()

@{ string functionName = "CreateUser()";}

@if (Model.CustomerId != 0)
{
    functionName = "UpdateUser()";
}

    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @id = "FirstName" })
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @id = "LastName" })
        @Html.ValidationMessageFor(m => m.LastName)
    </div>

    @Html.HiddenFor(m => m.CustomerId, new { @id = "CustomerId" })
    <button class="btn btn-primary" id="Submit" onclick=@functionName>Save</button>


@section scripts
{
    <script>
        $(document).ready(function () {

            document.getElementById("Submit").onclick = function () { @functionName };

           function CreateUser() {
                var firstName = document.getElementById("FirstName").value;
                var lastName = document.getElementById("LastName").value;

                var Customer = {
                    FirstName: firstName,
                    LastName: lastName
                };

                $.ajax({
                    url: "/api/customers",
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(Customer),
                    success: function () {
                        window.location.replace("/home/customer");
                    },
                });
            }

            function UpdateUser() {
                var id = document.getElementById("CustomerId").value;
                var firstName = document.getElementById("FirstName").value;
                var lastName = document.getElementById("LastName").value;

                var Customer = {
                    FirstName: firstName,
                    LastName: lastName
                };

                $.ajax({
                    url: "/api/customers/" + id,
                    type: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify(Customer),
                    success: function () {
                        window.location.replace("/home/customer");
                    },
                });
            }
        });
    </script>
}